.input-list-image{
  .label-input{
    width: 100%;
    text-align: center;
    background-color: aliceblue;
    padding: 25px;
    border-radius: 7px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item-preview{
    position: relative;
    &__image{
      width: 100%;
      height: 250px;
      object-fit: cover;
      margin-bottom: 20px;
    }
    &__remove{
      position: absolute;
      right: 15px;
      top: 5px;
      cursor: pointer;
    }
  }
}