.table-wrapper{
  max-height: 600px;
  overflow-y: scroll;
  margin-bottom: 20px;
  table{
    thead{
      position: sticky;
      top: 0;
      z-index: 1000;
      background-color: white;
      border-bottom: 1px solid gray !important;
    }
  }
}

.cursor-pointer{
  cursor:pointer
}